<div class="container">
  <h1>User Skills and Levels</h1>
  <table border="1">
    <!-- headers -->
    <tr>
      <th>Name:</th>
      <th>Skill:</th>
      <th>Years:</th>
      <th>Formal:</th>
    </tr>
    <% @users.each do |user| %>
    <!-- row for name -->
    <tr>
      <td><%= user.name %></td>
      <td></td><td></td><td></td>
    </tr>
    <!-- for each user's proficiencies -->
      <% user.proficiencies.each do |proficiency| %>
      <tr>
        <td></td>
        <td><%= proficiency.skill.name %> (<%= proficiency.skill.context %>)</td>
        <td><%= proficiency.years_of_experience %></td>
        <td><%= proficiency.formal_education %></td>
      </tr>
      <% end %>
    <% end %>
  </table>
  <br>
  <% if logged_in? %>
    <a href="/skills/edit">Edit My Skills</a>
  <% end %>
</div>
